## 3. Basic Python

In [6]:
# Everything after the # is a comments

In [20]:
# How to get help

help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [22]:
# Jupyter has some additional functionality

print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

### Data types:

In [7]:
# Numbers
x = 10
y = 0.5

# Text
text1 = 'Norges'
text2 = 'Bank'

# Lists
list1 = [1, 2, 4]
list2 = ['en', 'to', 'tre']

In [8]:
# Different types
print( type(x) )
print( type(y) )
print( type(text1) )
print( type(list1) )

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

### Operators:

In [4]:
#Addition:
print( x + y )

# Multiplication:
print( x * y )

10.5
5.0

In [17]:
print( text1 + text2 )

print( 5*list2 )

NorgesBank
['en', 'to', 'tre', 'en', 'to', 'tre', 'en', 'to', 'tre', 'en', 'to', 'tre', 'en', 'to', 'tre']

### Lists

In [7]:
b = ['Norges', 'Bank']

#### Indexing:

In [8]:
# In Python, indexing starts from zero:
b[0]

'Norges'

In [9]:
b[1]

'Bank'

In [10]:
b[2]

IndexError: list index out of range

In [11]:
b[-1]

'Bank'

#### Slicing:

In [12]:
c = ['a', 'b', 'd', 'd', 'e', 'f']

In [13]:
c[0:4]

['a', 'b', 'd', 'd']

In [14]:
c[4:]

['e', 'f']

### Built in functions:

In [15]:
type(c)

list

In [16]:
len(c)

6

In [17]:
min(c)

'a'

In [18]:
max(c)

'f'

In [19]:
'e' in c

True

In [20]:
list('Norges Bank')

['N', 'o', 'r', 'g', 'e', 's', ' ', 'B', 'a', 'n', 'k']

In [21]:
c.append('z')

In [22]:
c

['a', 'b', 'd', 'd', 'e', 'f', 'z']

In [23]:
c.append('a')

In [24]:
c

['a', 'b', 'd', 'd', 'e', 'f', 'z', 'a']

In [25]:
c.count('a')

2

### Sets

In [26]:
set1 = set( ['Norges', 'Bank', 'er', 'en', 'Bank'] )
set2 = set( ['DNB', 'er', 'også', 'en', 'Bank'] )

In [27]:
set1

{'Bank', 'Norges', 'en', 'er'}

In [28]:
set1.union(set2)

{'Bank', 'DNB', 'Norges', 'en', 'er', 'også'}

In [29]:
set1.intersection(set2)

{'Bank', 'en', 'er'}

### Control Flow

#### If statements

In [30]:
sentence = 'Dette er en settning'
word = 'settning'

In [31]:
if word in sentence:
    print(word.upper())

SETTNING

#### Loops

In [41]:
i = 0
for letter in sentence:
    print(str(i) + ' ' + letter.upper())
    i = i + 1

0 D
1 E
2 T
3 T
4 E
5
6 E
7 R
8
9 E
10 N
11
12 S
13 E
14 T
15 T
16 N
17 I
18 N
19 G

### Functions

In [43]:
def myFunction(x):
    print(x)

### Object oriented programming

In [122]:
# Object oriented programming

import random

class CentralBank:
    def __init__(self, target):
        self.interestRate = target
    def setInterestRate(self):
        self.interestRate = random.choice([0, 0.5, 2, 7])
        print('The interest rate is set!')
    def announceRate(self):
        print('The interest rate is: ' + str(self.interestRate) + '%')

In [123]:
NorgesBank = CentralBank(2)

In [124]:
NorgesBank.announceRate()

The interest rate is: 2%

In [125]:
NorgesBank.setInterestRate()

The interest rate is set!

In [126]:
NorgesBank.announceRate()

The interest rate is: 2%

In [127]:
ECB = CentralBank(5)

In [129]:
ECB.announceRate()

The interest rate is: 5%

In [130]:
ECB.setInterestRate()

The interest rate is set!

In [131]:
ECB.announceRate()

The interest rate is: 2%